<div>This is Explore</div>

<input type="search" ng-model="searchTag" />
<input type="button" ng-click="search()" value="search"/>

<div>{{map}}</div>

<ui-gmap-google-map center='map.center' zoom='map.zoom'>
  <ui-gmap-circle ng-repeat='(key, c) in circles track by key'
    center='c.loc' radius='c.radius' fill='c.fill'
    stroke='c.stroke' clickable='c.clickable'>
  </ui-gmap-circle>
  <ui-gmap-circle
    center='range.loc' radius='range.radius' fill='range.fill'
    stroke='range.stroke' clickable='range.clickable'>
  </ui-gmap-circle>
</ui-gmap-google-map>