<div id="exploreBg">
    <div id="exploreLeft" class="clearfix">
        <div class="form-group" style="width: 40%">
             <label>Search using a tag:</label>
            <input type="search" ng-model="searchTag" class="form-control"/>
        </br>
            <button type="button" ng-click="search()" class="btn btn-primary"/> Search </button>
        </div>
        <!-- <span ng-bind="searchResult"></span> -->
        <div class="mentorInfo" >
            <!-- <span ng-bind="mentor" value="{{mentor}}"></span> -->
            <img src="assets/defaultProfile.png" id="mentorBox" class="clearfix"/>
                <p id="mentorText">
                Name&#x3a;<br /><br />Common Interests&#x3a;<br /><br /><br />Do you want him&#x2f;her to be your mentor&#x3f;<br />
                </p>
                <button type="button" class="btn btn-danger">Not really.</button>
            </br>
                <button type="button" class="btn btn-success" ng-click="">Yes!</button>
        </div>
    </div>

    <div id="exploreRight" class="clearfix">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-circle ng-repeat='(key, c) in circles track by key'
          center='c.center' radius='c.radius' stroke='c.stroke'>
        </ui-gmap-circle>
        <ui-gmap-circle 
          center="myCircle.center" stroke="myCircle.stroke" fill="myCircle.fill" 
          radius="myCircle.radius">
        </ui-gmap-circle>
        <ui-gmap-circle 
          center="range.center" stroke="range.stroke" fill="range.fill" 
          radius="range.radius" draggable="range.draggable">
        </ui-gmap-circle>
      </ui-gmap-google-map>
    </div>
</div>
