<!-- <div id="nav" class="navbar navbar-default">
    <div id="logoBox"></div>
    <div id="navSections">
        <a href ui-sref="welcome">Welcome</a>
        <a href ui-sref="explore">Explore</a>
        <a href ui-sref="connect">Connect</a>
        <a href ui-sref="settings">Settings</a>
    </div>
</div> -->
<nav  class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img  alt="Brand" style="margin-top:2%;" src="assets/wisenLogoMini.gif"/></a>
      <span class="navbar-text">WISEN.IO</span>
    </div>
    <div class="collapse navbar-collapse">
      <ul  style="margin-top:1%;" class="nav navbar-nav">
        <li class="active"><a href ui-sref="welcome">Welcome</a></li>
        <li><a href ui-sref="explore">Explore</a></li>
        <li><a href ui-sref="connect">Connect</a></li>
        <li><a href ui-sref="settings">Settings</a></li>
      </ul>

      <ul style="float:right;" stype="margin-top:-4px;">
          <span class="navbar-text">
            Welcome, <span ng-bind="name || 'guest'" >&nbsp;&nbsp;&nbsp;&nbsp; </span>&#x21;
            <button type="button" class="btn btn-default navbar-btn" ng-click="twitterLogin()" ng-show='!name'>Sign in</button>
            <button type="button" class="btn btn-primary navbar-btn" ng-click="logout()"/ ng-show="name"> Log out </button>
        </span>
      </ul>
    </div>
</div>
</nav>
