.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-color: rgb(43, 132, 222);
    margin-top: 5%;
}

#text7 {
    float: left;
    font-size: 300%;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 400;
    line-height: 150%;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 450px;
    border-width: 0px;
    border-style: solid;
    color: rgb(255, 255, 255);
    font-style: normal;
    margin-right: 0%;
    background-color: rgba(22, 105, 188, 0.541176);
}

#setting {
    float: left;
    height: 61px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 19.013106%;
    background-color: rgba(255, 255, 255, 0.631373);
    margin-right: 0%;
}

#login {
    float: left;
    height: 61px;
    margin-left: 39.315843%;
    margin-top: 0px;
    clear: none;
    width: 14.29667%;
    background-color: rgb(22, 105, 188);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: thin solid rgb(255, 255, 255);
    margin-right: 0%;
}

#text {
    float: none;
    font-size: 1.5em;
    width: 50.680144%;
    height: auto;
    text-align: center;
    font-weight: 400;
    line-height: 1em;
    margin-left: auto;
    margin-top: 17px;
    clear: none;
    min-height: 43px;
    color: rgb(255, 255, 255);
    font-family: arial;
    letter-spacing: 3px;
    margin-right: auto;
}

#nav {
    float: none;
    height: auto;
    margin-left: 11.920506%;
    margin-top: 27px;
    clear: none;
    width: 88.080073%;
    display: none;
}

#showcase {
    float: left;
    height: 450px;
    margin-left: 0%;
    margin-top: -74px;
    clear: none;
    width: 100%;
    margin-right: 0%;
    background-image:url("run.jpg");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#how {
    float: none;
    height: 550px;
    margin-left: auto;
    margin-top: 37px;
    clear: none;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-right: auto;
}

#text9 {
    float: left;
    font-size: 2em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.132679%;
    margin-top: 46px;
    clear: none;
    min-height: 1px;
    color: rgb(22, 105, 188);
}

#box9 {
    float: left;
    height: 24px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 15.269758%;
    background-color: rgb(78, 159, 240);
    border-top-left-radius: 768px;
    border-top-right-radius: 768px;
    border-bottom-right-radius: 768px;
    border-bottom-left-radius: 768px;
    margin-right: 0%;
}

#text10 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 8.291857%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#box11 {
    float: left;
    height: 24px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 26.057412%;
    border-top-left-radius: 768px;
    border-top-right-radius: 768px;
    border-bottom-right-radius: 768px;
    border-bottom-left-radius: 768px;
    display: block;
    background-color: rgb(78, 159, 240);
    margin-right: 0%;
}

#text12 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 14.166808%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 0%;
}

#box13 {
    float: left;
    height: 24px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 17.626104%;
    border-top-left-radius: 768px;
    border-top-right-radius: 768px;
    border-bottom-right-radius: 768px;
    border-bottom-left-radius: 768px;
    display: block;
    background-color: rgb(78, 159, 240);
    margin-right: 0%;
}

#text14 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 9.582902%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 0%;
}

#box10 {
    float: left;
    height: 122px;
    margin-left: 0%;
    margin-top: 26px;
    clear: both;
    width: 94.710169%;
    background-color: rgb(78, 159, 240);
    margin-right: 0%;
}

#box12 {
    float: left;
    height: 122px;
    margin-left: 0%;
    margin-top: 26px;
    clear: both;
    width: 94.736475%;
    display: block;
    background-color: rgb(78, 159, 240);
    margin-right: 0%;
}

#box14 {
    float: left;
    height: 122px;
    margin-left: 3.330876%;
    margin-top: 26px;
    clear: both;
    width: 91.434889%;
    display: block;
    background-color: rgb(78, 159, 240);
    margin-right: 0%;
}

#text11 {
    float: left;
    font-size: 1em;
    width: 99.972231%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0.02776814%;
    margin-top: 27px;
    clear: both;
    min-height: 155px;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#text13 {
    float: left;
    font-size: 1em;
    width: 99.999999%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 27px;
    clear: both;
    min-height: 155px;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 0%;
}

#WelcomeWords {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 32px;
    clear: none;
    width: 100%;
    margin-right: auto;
}

#Welcome {
    float: none;
    height: 1149px;
    margin-left: auto;
    margin-top: 67px;
    clear: none;
    width: 100%;
    display: block;
    margin-right: auto;
}

#text15 {
    float: left;
    font-size: 1em;
    width: 96.514978%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 3.485021%;
    margin-top: 27px;
    clear: both;
    min-height: 155px;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 0%;
}

#explore {
    float: none;
    height: 584px;
    margin-left: 1.8718%;
    margin-top: 27px;
    clear: none;
    width: 96.256399%;
    background-color: rgb(255, 255, 255);
    display: none;
}

#text1 {
    float: none;
    font-size: 2em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    margin-left: auto;
    margin-top: 75px;
    clear: none;
    min-height: 0px;
    color: rgb(22, 105, 188);
    margin-right: auto;
}

#box {
    float: left;
    height: 183px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100.000001%;
    margin-right: 0%;
}

#box2 {
    float: left;
    height: 183px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100.000001%;
    display: block;
    margin-right: 0%;
}

#box4 {
    float: left;
    height: 183px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100.000001%;
    display: block;
    margin-right: 0%;
}

#box6 {
    float: left;
    height: 183px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100.000001%;
    display: block;
    margin-right: 0%;
}

#more {
    float: none;
    height: 56px;
    margin-left: auto;
    margin-top: 63px;
    clear: none;
    width: 22.692521%;
    background-color: rgb(78, 159, 240);
    margin-right: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

#text6 {
    float: none;
    font-size: 2em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 300;
    line-height: 1em;
    margin-left: auto;
    margin-top: 13px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    margin-right: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

#box1 {
    float: left;
    height: 37px;
    margin-left: 0%;
    margin-top: 17px;
    clear: both;
    width: 100.000001%;
    border: 1px solid rgba(163, 205, 247, 0);
    background-color: rgb(177, 212, 248);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 0%;
}

#text2 {
    float: none;
    font-size: 1.3em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 8px;
    clear: none;
    min-height: 0px;
    color: rgb(22, 105, 188);
    margin-right: auto;
}

#box1:hover {
    background-color: rgb(210, 230, 251);
}

#box1:active {
    background-color: rgb(134, 184, 235);
}

#box3:hover {
    background-color: rgb(210, 230, 251);
}

#box3:active {
    background-color: rgb(134, 184, 235);
}

#box3 {
    float: left;
    height: 37px;
    margin-left: 0%;
    margin-top: 17px;
    clear: both;
    width: 100.000001%;
    border: 1px solid rgba(163, 205, 247, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
    background-color: rgb(177, 212, 248);
    margin-right: 0%;
}

#text3 {
    float: none;
    font-size: 1.3em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 8px;
    clear: none;
    min-height: 0px;
    color: rgb(22, 105, 188);
    margin-right: auto;
}

#box5:hover {
    background-color: rgb(210, 230, 251);
}

#box5:active {
    background-color: rgb(134, 184, 235);
}

#box5 {
    float: left;
    height: 37px;
    margin-left: 0%;
    margin-top: 17px;
    clear: both;
    width: 100.000001%;
    border: 1px solid rgba(163, 205, 247, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
    margin-right: 0%;
    background-color: rgb(177, 212, 248);
}

#text4 {
    float: none;
    font-size: 1.3em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 8px;
    clear: none;
    min-height: 0px;
    color: rgb(22, 105, 188);
    margin-right: auto;
}

#box7:hover {
    background-color: rgb(210, 230, 251);
}

#box7:active {
    background-color: rgb(134, 184, 235);
}

#box7 {
    float: left;
    height: 37px;
    margin-left: 0%;
    margin-top: 17px;
    clear: both;
    width: 100.000001%;
    border: 1px solid rgba(163, 205, 247, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
    margin-right: 0%;
    background-color: rgb(177, 212, 248);
}

#text5 {
    float: none;
    font-size: 1.3em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 8px;
    clear: none;
    min-height: 0px;
    color: rgb(22, 105, 188);
    margin-right: auto;
}

#explore_1 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 22.943562%;
    margin-right: 0%;
}

#explore_2 {
    float: left;
    height: auto;
    margin-left: 2.525124%;
    margin-top: 0px;
    clear: none;
    width: 22.943562%;
    margin-right: 0%;
}

#explore_3 {
    float: left;
    height: auto;
    margin-left: 2.687719%;
    margin-top: 0px;
    clear: none;
    width: 22.943562%;
    margin-right: 0%;
}

#explore_4 {
    float: left;
    height: auto;
    margin-left: 3.01291%;
    margin-top: 0px;
    clear: none;
    width: 22.943562%;
    margin-right: 0%;
}

#explore_blocks {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 52px;
    clear: none;
    width: 94.269621%;
    margin-right: auto;
}

#logo-block {
    float: left;
    height: 61px;
    margin-left: 96.119072%;
    margin-top: -61px;
    clear: both;
    width: 8.355197%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: thin solid rgb(255, 255, 255);
    margin-right: 0%;
    display: block;
    background-color: rgb(22, 105, 188);
}

#Skills1 {
    float: left;
    height: auto;
    margin-left: 1.381848%;
    margin-top: 0px;
    clear: none;
    width: 40.879107%;
    margin-right: 0%;
}

#Match-up1 {
    float: left;
    height: auto;
    margin-left: 3.485021%;
    margin-top: 0px;
    clear: none;
    width: 58.327191%;
    margin-right: 0%;
}

#Community1 {
    float: left;
    height: auto;
    margin-left: 0.02776814%;
    margin-top: 0px;
    clear: none;
    width: 69.739675%;
    margin-right: 0%;
}

#Community {
    float: left;
    height: auto;
    margin-left: 6.125569%;
    margin-top: 55px;
    clear: both;
    width: 25.606158%;
}

#Skills {
    float: left;
    height: auto;
    margin-left: 5.354096%;
    margin-top: 55px;
    clear: none;
    width: 25.599047%;
}

#Match-up {
    float: left;
    height: auto;
    margin-left: 4.657281%;
    margin-top: 55px;
    clear: none;
    width: 26.523393%;
}

#box8 {
    float: none;
    height: 53px;
    margin-left: auto;
    margin-top: 42px;
    clear: none;
    width: 34.582978%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: auto;
}

#text8 {
    float: none;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 17px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    color: rgb(22, 105, 188);
}

#box8:hover {
    background-color: rgb(134, 184, 235);
}

#box8:active {
    background-color: rgb(210, 230, 251);
}

#logo {
    float: left;
    height: 67px;
    margin: -71.875px 0px 0px 0%;
    clear: none;
    width: 17.519909%;
    background-image:url("logo.gif");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}
