<!--NavBar Custom Directive-->

<form>
  <label>Name:</label>
  <p ng-bind="name"></p>
  <label>Tags:</label>
  <div ng-repeat="(tag, val) in user.tags">
    <input type="text" value="{{tag}}" />
    <input type="button" ng-click="remove(tag)" value="X" />
  </div>
  <div ng-repeat="tag in newTags track by $index">
    <input type="text" value="{{tag}}" placeholder="Tag Name" ng-model="newTags[$index]" />
  </div>
  <input type="button" ng-click="addField()" value="+" />
  <input type="button" ng-click="save()" value="save" />
</form>

<alert type="locationAlert.type">{{locationAlert.msg}}</alert>

<div>{{shit}}</div>